.card-img{
    width:20rem;
    height: 10rem;
}

.farm-cover-img{
    height:20rem;
    width: 100%;
    object-fit: cover;
}

.farm-title{
    margin-left: 1rem;
    padding-top: 1rem;

}
.farm-description{
    margin-left: 1.5rem;
    padding-top: 0.2rem;
}
.farm-meta {
    list-style: none;
}
.farm-meta li{
    margin-right: 1rem;
}

.crop-card{
    display: flex;
    justify-content: space-between;
    width: 33rem;
    margin-bottom: 2rem;
    border: 1px solid black;
}

.crop-card-img{
    object-fit: cover;
    height: 10rem;
    width: 5rem;
}



